[submodule "tools/wasi-headers/WASI"]
	path = tools/wasi-headers/WASI
	url = https://github.com/WebAssembly/WASI
[submodule "wasi-cli"]
	path = wasi-cli
	url = https://github.com/WebAssembly/wasi-cli
