[submodule "tools/wasi-headers/WASI"]
	path = tools/wasi-headers/WASI
	url = https://github.com/WebAssembly/WASI
[submodule "tools/wasix-headers/WASI"]
	path = tools/wasix-headers/WASI
	url = https://github.com/wasix-org/wasix-witx.git
